@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --text-color: #30363c;
    --main-color: rgb(7, 161, 161);
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-border: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: var(--text-color);
}
/* ------------------------------------------------global css Start-------------------------------*/
.container{
    width: 100%;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
}
/* ------------------------------------------------global css End-------------------------------*/






 /* < !---navbar start--> */
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.nav{
    box-shadow: lightgray 0 0 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;

}

.nav >img{
    margin: 7px 35px;
    height: 40px;
}

.nav>img+div{
    width: 1px;
    background-color: grey;
    height: 30px;
    margin: auto 0;
}

#pick-adress{
    margin: auto 30px;
}


#pick-adress > div {
  display: flex;
}

#pick-adress>div p {
   font-size: 13px;
}

#pick-adress >h4{
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    display: inline;
}
#pick-adress > i{
    cursor: pointer;
    /* font-weight: 500; */
    font-size: 15px;
    /* display: inline; */
}

.download-app{
    cursor: pointer;
    display: flex;
    margin: auto 20px auto auto;
    padding: 10px 15px;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(226,247,255);
}

.download-app:hover{
    background-color: rgb(200,240,255);
}
.download-app >p{
    font-weight: 400;
    margin-left: 5px;
    font-size: 14px;
}

.nav > ul{
    margin: auto 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav > ul >li,
.nav >ul li a{
    margin: 10px 15px;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

nav ul li p{
    margin-left: 5px;
}
 /* < !---navbar end--> */

 /* < !-----------------------------------------------------------search bar start------------------------------------------------------------> */
.search-layout{
  margin-top: 100px;
}
.search-layout >div{
  /* margin-top: 100px; */
  width: 70%;
  margin: 30px auto 0;
}

.search-header{
   display: flex;
   align-items: center;
}
.search-header >h2{
    font-weight: 600;
    font-size: 22px;
}
.search-header >h2 +i{
 margin-left: auto;
 margin-right:8px;
}
.search-header > p{
 margin-right: 10px;
}
.search-header >div{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-header >div >h3,
.search-header > div > i{
    color: var(--main-color);
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
}

.search-bar{
    display: flex;
    margin: 20px 0;
    width: 100%;
    border: 1px lightgrey solid;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: lightgray 0 0 4px;
    align-items: center;
}

.search-bar > i{
   margin-left: 30px;
}

.search-bar>input[type="text"]{
    margin: auto 20px ;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
}
.search-bar>input[type="submit"] {
    margin-left: auto;
    border: none;
    background-color: var(--main-color);
    padding: 10px 15px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 35px;
}
.search-bar input::placeholder{
    font-size: 14px;
}
 /* < !----------------------------------------------------------search bar end--------------------------------------------------------------> */






 /* < !----------------------------------------------------------nav card layout start--------------------------------------------------------> */
 .nav-card-layout >div{
    display: flex;
    gap: 40px;
    text-align: center;
    overflow: auto;
    padding: 2px;
    /* justify-content: center; */
 }

.nav-card-layout  > div::-webkit-scrollbar{
  display: none;
}

.nav-card-layout >div div {
    padding: 8px 15px;
    border-radius: 10px;
}
.nav-card-layout >div div:hover {
  box-shadow: lightgray 0 0 6px;
}

.nav-card-layout >div img{
    width: 90px;
}
 /* < !----------------------------------------------------------nav card layout end----------------------------------------------------------> */


 /* < !----------------------------------------------------------bannnerr start---------------------------------------------------------------> */
 .banner::-webkit-scrollbar{
    display: none;
 }  
 .banner{
    display: flex;
    overflow: auto;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
   }

   .banner img{
    width: 45%;
    margin-right: 25px;
    border-radius: 10px;
    cursor: pointer;
   }
 /* < !----------------------------------------------------------bannnerr end---------------------------------------------------------------------> */
 /* < !----------------------------------------------------------new offer list start----------------------------------------------------------> */
 /* < !----------------------------------------------------------new offer list end------------------------------------------------------------> */
 /* < !----------------------------------------------------------shop categories start----------------------------------------------------------> */
 /* < !----------------------------------------------------------shop categories start----------------------------------------------------------> */
 /* < !----------------------------------------------------------shop categories start----------------------------------------------------------> */
 /* < !----------------------------------------------------------shop categories end----------------------------------------------------------> */
 /* < !----------------------------------------------------------order with prescription start----------------------------------------------------------> */
 /* < !----------------------------------------------------------order with prescription end----------------------------------------------------------> */
 /* < !----------------------------------------------------------new launches start----------------------------------------------------------> */
 /* < !----------------------------------------------------------new launches end----------------------------------------------------------> */
 /* < !----------------------------------------------------------trending start----------------------------------------------------------> */
 /* < !----------------------------------------------------------trending end----------------------------------------------------------> */
 /* < !----------------------------------------------------------lab test start----------------------------------------------------------> */
 /* < !----------------------------------------------------------lab test end----------------------------------------------------------> */
 /* < !----------------------------------------------------------become plus member start----------------------------------------------------------> */
 /* < !----------------------------------------------------------become plus member end----------------------------------------------------------> */
 /* < !----------------------------------------------------------shop by concern start----------------------------------------------------------> */
 /* < !----------------------------------------------------------shop by concern end----------------------------------------------------------> */
 /* < !----------------------------------------------------------freq booked start----------------------------------------------------------> */
 /* < !----------------------------------------------------------freq booked end----------------------------------------------------------> */
 /* < !----------------------------------------------------------payment offer start----------------------------------------------------------> */
 /* < !----------------------------------------------------------payment offer end----------------------------------------------------------> */
 /* < !------------------------------------------------------------welnes essential start----------------------------------------------------------> */
 /* < !------------------------------------------------------------welnes essential end----------------------------------------------------------> */
 /* < !-----------------------------------------------------------featured brand start----------------------------------------------------------> */
 /* < !-----------------------------------------------------------featured brand end----------------------------------------------------------> */
 /* < !-----------------------------------------------------------deals of the day start----------------------------------------------------------> */
 /* < !-----------------------------------------------------------deals of the day end----------------------------------------------------------> */
 /* < !----------------------------------------------------------spotlight start----------------------------------------------------------> */
 /* < !----------------------------------------------------------spotlight end----------------------------------------------------------> */
 /* < !----------------------------------------------------------health article start----------------------------------------------------------> */
 /* < !----------------------------------------------------------health article end----------------------------------------------------------> */
 /* < !----------------------------------------------------------WHY CHOOSE START----------------------------------------------------------> */
 /* < !----------------------------------------------------------WHY CHOOSE END----------------------------------------------------------> */
 /* < !----------------------------------------------------------customer review start----------------------------------------------------------> */
 /* < !----------------------------------------------------------customer review end----------------------------------------------------------> */
 /* < !---------------------------------------------------------app promo start----------------------------------------------------------> */
 /* < !---------------------------------------------------------app promo end----------------------------------------------------------> */
 /* < !-----------------------------------------------------------FAQ START----------------------------------------------------------> */
 /* < !-----------------------------------------------------------FAQ END----------------------------------------------------------> */
 /* < !-----------------------------------------------------------footer start----------------------------------------------------------> */
 /* < !-----------------------------------------------------------footer end----------------------------------------------------------> */
 /* < !----------------------------------------------------------floating button start----------------------------------------------------------> */
 /* < !----------------------------------------------------------floating button end----------------------------------------------------------> */